<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Donation website &mdash; Website Donation</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <meta name="author" content="Free-Template.co"/>

    <link rel="shortcut icon" th:href="ftco-32x32.png"/>
    <link rel="stylesheet" th:href="@{/user/assets/css/custom-bs.css}"/>
    <link rel="stylesheet" th:href="@{/user/assets/css/jquery.fancybox.min.css}"/>
    <link rel="stylesheet" th:href="@{/user/assets/css/bootstrap-select.min.css}"/>
    <link rel="stylesheet" th:href="@{/user/assets/fonts/icomoon/style.css}"/>
    <link rel="stylesheet" th:href="@{/user/assets/fonts/line-icons/style.css}"/>
    <link rel="stylesheet" th:href="@{/user/assets/css/owl.carousel.min.css}"/>
    <link rel="stylesheet" th:href="@{/user/assets/css/animate.min.css}"/>
    <!-- MAIN CSS -->
    <link rel="stylesheet" th:href="@{/user/assets/css/style.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet"/>
    <link th:href="@{/admin1/assets/css/styles.css}" rel="stylesheet"/>

    <script th:src="@{/admin1/assets/js/datatables-simple-demo.js}"></script>
    <script th:src="@{/admin1/assets/js/scripts.js}"></script>
    <script th:src="@{/admin1/assets/js/JQuery3.3.1.js}"/></script>
    <script th:src="@{/user/assets/js/jquery.min.js}"/></script>
    <script th:src="@{/user/assets/js/bootstrap.bundle.min.js}"/></script>
    <script th:src="@{/user/assets/js/isotope.pkgd.min.js}"/></script>
    <script th:src="@{/user/assets/js/stickyfill.min.js}"/></script>
    <script th:src="@{/user/assets/js/jquery.fancybox.min.js}"/></script>
    <script th:src="@{/user/assets/js/jquery.easing.1.3.js}"/></script>
    <script th:src="@{/user/assets/js/jquery.waypoints.min.js}"/></script>
    <script th:src="@{/user/assets/js/jquery.animateNumber.min.js}"/></script>
    <script th:src="@{/user/assets/js/owl.carousel.min.js}"/></script>
    <script th:src="@{/user/assets/js/bootstrap-select.min.js}"/></script>
    <script th:src="@{/user/assets/js/custom.js}"/></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/29.0.0/classic/ckeditor.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
</head>
<body id="top">

<div id="overlayer"></div>
<div class="loader">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div th:if="${donateSuccessfully}" class="toast" data-delay="1000"
     style="
        position: fixed;
        top: 100px;
        left: 40px;
        z-index: 2000;
        width: 300px;
      ">
    <script>
        swal({
            title: 'Donate Successfully!',
            /* text: 'Redirecting...', */
            icon: 'success',
            timer: 3000,
            buttons: true,
            type: 'success'
        })
    </script>
</div>

<div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <!-- .site-mobile-menu -->

    <!-- NAVBAR -->

    <header class="site-navbar mt-3">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="site-logo col-6"><a th:href="@{/home}">Website Quyên Góp</a></div>

                <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
                    <div class="ml-auto">
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/home}" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Admin</a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Log Out</a>
                        <a sec:authorize="isAnonymous()" th:href="@{/showLoginPage}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-lock_outline"></span>Log In</a>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- HOME -->
    <section id="home-section" class="section-hero overlay inner-page bg-image"
             th:style="'background-image: url('+@{/user/assets/images/hero_1.jpg}+');'">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <h1 class="text-white font-weight-bold">
                        Danh sách các đợt quyên góp
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="site-section">
        <div class="container">
            <div class="row mb-5 justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="section-title mb-2">Các đợt quyên góp</h2>
                </div>
            </div>

            <ul class="job-listings mb-5">
                <th:block th:each="donation : ${donations}">
                    <li style="margin-bottom: 20px" class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">
                        <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                            <div class="job-listing-position custom-width mb-3 mb-sm-0" style="padding: 10px; width: 250px">
                                <h2>
                                    <a style="height: 22px; position: static"
                                       th:href="@{'/user/detailDonation?donationId='+${donation.id}}"
                                       th:text="${donation.name}"></a>
                                </h2>
                                <strong th:if="${donation.status == 1}"> Mới tạo </strong>
                                <strong th:if="${donation.status == 2}"> Đang quyên góp </strong>
                                <strong th:if="${donation.status == 3}"> Kết thúc quyên góp </strong>
                                <strong th:if="${donation.status == 4}"> Đóng quyên góp </strong>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-10"
                                 style="padding: 10px">
                                Ngày bắt đầu<br/>
                                <strong th:text="${donation.startDate}"></strong><br/>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-10"
                                 style="padding: 10px">
                                Ngày kết thúc<br/>
                                <strong th:text="${donation.endDate}"></strong><br/>
                            </div>
                            <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25"
                                 style="padding: 10px">
                                <span class="icon-room"></span>
                                <span th:text="${donation.organizationName}"></span><br/>
                                <strong th:text="${donation.phoneNumber}"></strong><br/>
                            </div>
                            <div th:if="${donation.status == 2}" class="job-listing-meta custom-width w-20">
                                <button style="margin-top: 20px" class="btn btn-primary py-2"
                                        data-bs-toggle="modal"
                                        th:data-bs-target="'#idModelDonate'+${donation.id}">
                                    Quyên góp
                                </button>
                            </div>
                            <p th:if="${donation.status != 2}"
                               class="btn py-2" style="margin-top: 20px; background-color: white !important;">
                                <span style="color: white">Quyên góp</span>
                            </p>
                        </div>
                    </li>

                    <!-- Modal Donate -->
                    <div class="modal fade" th:id="'idModelDonate'+${donation.id}" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Quyên góp</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" th:action="@{/user/addUserDonation}">
                                    <div class="modal-body">
                                        <div class="row">

                                            <div class="col-12">
                                                <label for="name"
                                                       class="col-form-label">Họ tên:</label>
                                                <input type="text" class="form-control"
                                                       id="name" name="name" required>
                                                <label for="money"
                                                       class="col-form-label">Số tiền quyên góp:</label>
                                                <input type="number" class="form-control"
                                                       id="money" name="money" required>
                                                <input type="hidden" name="donationId" th:value="${donation.id}" required>

                                                <label for="message"
                                                       class="col-form-label">Lời nhắn:</label>
                                                <textarea id="message" rows="10" cols="3" class="form-control" name="message">
                  </textarea>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                            <button type="submit" class="btn btn-primary">Quyên góp</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </th:block>
                <script>
                    function detail(id) {
                        window.location = "/donation/detail/" + id;
                    }
                </script>
            </ul>

            <!-- Pagination -->
            <div class="row pagination-wrap">
                <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
                </div>
                <div class="col-md-6 text-center text-md-right">
                    <div class="custom-pagination ml-auto">
                        <span th:if="${currentPage==1}" class="prev" style="color:white">Prev</span>
                        <a th:if="${currentPage<=totalPage and currentPage>1}" class="prev" th:href="@{'/home?page='+${currentPage-1}}">Prev</a>
                        <div class="d-inline-block"></div>
                        <a th:if="${currentPage<totalPage and currentPage>=1}" class="next" th:href="@{'/home?page='+${currentPage+1}}">Next</a>
                        <span th:if="${currentPage==totalPage}" class="next" style="color:white">Next</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
</body>
</html>
